body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 120px;
}

.search-bar {
    display: flex;
    align-items: center;
}


.create-account-box {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.create-account-box h2,h3 {
    margin-top: 0;
    text-align: center;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.input-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

.input-field select option {
    padding: 10px;
}

.input-field input,
.input-field select {
    width: calc(100% - 22px); 
    box-sizing: border-box;
}

button:focus,
input:focus,
select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 3px #007BFF;
}

.input-field select:hover {
    border-color: #0056b3;
}


.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
