body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header img {
    width: 120px;
}
.location input[type="number"] {
    padding: 10px; 
    font-size: 1rem; 
    border: 1px solid #001aff; 
    border-radius: 4px; 
    margin-right: 8px; 
    display: inline-block;
    vertical-align: middle; 
    box-shadow: 0px 0px 5px #cccccc; 
}

.location input[type="number"] {
    padding: 10px; 
    font-size: 1rem; 
    border: 1px solid #001aff; 
    border-radius: 4px; 
    margin-right: 8px; 
    display: inline-block;
    vertical-align: middle; 
    box-shadow: 0px 0px 5px #cccccc; 
}

.location #updateShipping {
    padding: 10px 15px; 
    font-size: 1rem; 
    border: 1px solid #ffc400; 
    border-radius: 4px; 
    background-color: #0a34ed; 
    color: #ffffff; 
    cursor: pointer;
    box-shadow: 0px 0px 5px #cccccc; 
    vertical-align: middle;
}

.location #updateShipping:hover {
    background-color: #d0e0ea; 
    box-shadow: 0px 0px 8px #cccccc; 
}

#shipping-cost {
    padding: 10px; 
    margin-top: 1px;
    background-color: #ffff99; 
    border: 1px solid #ffd700;
    border-radius: 4px; 
    font-weight: bold; 
    color: #d35400; 
    text-align: center; 
    vertical-align: middle;
    display: inline-block; 
    box-shadow: 0px 0px 5px #cccccc; 
}

.filter label[for="storeSelect"] {
    color: #007bff; 
    font-family: 'Arial', sans-serif; 
    font-size: 1.1em; 
    font-weight: bold; 
    margin-bottom: 5px; 
    display: block; 
}
.filter select {
    background-color: #fff; 
    border: 2px solid #007bff; 
    color: #007bff; 
    padding: 8px 12px; 
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3); 
    cursor: pointer; 
    font-weight: bold; 
    margin-bottom: 15px; 
    width: 100%; 
}

.filter select:focus {
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.5); 
    outline: none; 
}

#applyFilters {
    background-color: #28a745; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    font-weight: bold; 
    margin-top: 0px; 
    margin-bottom: 10px;
    width: 100%; 
    transition: background-color 0.3s, box-shadow 0.3s;
}

#applyFilters:hover {
    background-color: #218838; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#applyFilters:focus {
    outline: none; 
    box-shadow: 0 0 6px rgba(40, 167, 69, 0.6); 
}
.filter {
    width: 20%;
    padding: 20px;
    background-color: #f5f2f2;
    min-height: 100vh;
    float: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}
.filter ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.filter ul li {
    margin: 5px 0;
}

.filter input[type="checkbox"] {
    margin-right: 5px;
}


.filter details summary {
    cursor: pointer;
    padding: 8px;
    background-color: rgb(204, 224, 252);
    border: 1px solid #e8e8e8;
}
.product {
    display: flex;
    flex-direction: column; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:40px;
    background-color: #e7e4e4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: left;
    position: relative;
    margin-bottom: 20px;
}
.container {
    display: flex;
}


.product-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
#compareProductsButton {
    background-color: #e68c24; 
    color: rgb(255, 255, 255); 
    padding: 10px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none; 
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.4s;
}

#compareProductsButton:hover {
    background-color: #45a049; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

#compareProductsButton:disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed; 
}


.products {
    flex-grow: 1; 
    margin-left: 20px; 
    padding: 20px; 
    background-color: #f1f0f0;
}

.product img {
    width: 75px; 
    max-width: none; 
    height: auto; 
    margin-right: 20px; 
}

.compare-checkbox {
    border-color: #082cf7; 
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px; 
    height: 18px; 
    cursor: pointer;
}


.compare-checkbox:checked {
    background-color: #004c8c; 
    border-color: #f79708; 
}

.compare-checkbox:focus {
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.5); 
    outline: none; 
}

.compare-checkbox:checked:after {
    content: '';
    position: absolute;
    left: 6px; 
    top: 2px; 
    width: 5px; 
    height: 10px; 
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


#comparisonModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}


.product-details {
    flex-grow: 1; 
    margin-left: 100px;
    align-self: self-end;
    font-size: 1.3em;
    font-family: 'Candara';
    font-weight: bold;
    color:rgb(81, 67, 67);
    border: none;
    border-radius: 4px;
    
    margin-bottom: 0px;
}
.product ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product p {
    margin-top: 10px;
    font-weight: bold;
}

.product button {
    align-self: self-end;
    background-color: #007bff;
    color: white;
    padding: 10px 44px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;  
    margin-bottom: 0%;
}
.product h5 {
    align-self: self-start;
    background-color:#e7e6e5;
    color:rgb(84, 64, 64);
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;  
    margin-bottom: 0px;
}

.product h3 {
    align-self: self-end;
    font-size: 1.3em;
    font-weight: bold;
    color:rgb(14, 142, 23);
    padding: 8px 15px;
    border: 1px;
    border-radius: 4px;
    margin-top: 10px;  
    margin-bottom: 0px;
}
 
footer {
    background-color: #f6f6f6;
    padding: 1rem 0;
  }
  
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    margin: 0 1rem;
  }
  
  footer ul li a {
    color: #0071a1;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }

  

.filter input[type="checkbox"]:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #007bff;
    vertical-align: middle;
    transition: background-color 0.2s, border-color 0.2s;
}

.filter input[type="checkbox"]:checked:before {
    background-color: #218838;
    border-color: #007bff;
    box-shadow: inset 0 0 0 2px white;
}

.filter input[type="checkbox"]:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}


.comparison-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-container {
    width: 48%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.product-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; 
    margin-bottom: 15px; 
}

.product-details {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
}

.product-details ul {
    text-align: left; 
    width: 100%;
    padding: 0;
    list-style: none;
}

.buy-now-button {
    background-color: #007bff;
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.buy-now-button:hover {
    background-color: #0056b3;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;  
     
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 0px; 
    width: 90%; 
    max-width: auto; 
    box-sizing: border-box; 
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #007BFF;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: white;
    text-decoration: none;
    background-color: rgb(255, 0, 0); 
    outline: none; 
    cursor: pointer;
}

.close-button {
    position: fixed;
    top: 10px; 
    right: 15px; 
    color: #ffffff;
    border: rgb(0, 0, 0);
    border-radius: 10px; 
    padding: 10px 10px; 
    cursor: pointer; 
    font-size: 2.2rem; 
    line-height: 1.2rem;
    text-align: center; 
    z-index: 10;
}


#comparisonDetails {
    display: inline-flex; 
    flex-wrap: nowrap; 
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    overflow-x: auto; 
}

.compare {
    flex: 0 0 auto; 
    width: 150; 
    min-width: auto; 
    border: 3px solid rgb(255, 102, 0); 
    padding: 10px;
    border-radius: 5px; 
    display: flex; 
    flex-direction: column;
}

.compare-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.compare-header img {
    width: 75px; 
    max-width: none; 
    height: auto; 
    margin-right: 20px;
}

.compare-details {
    flex-grow: 1; 
    margin-left: 100px;
    align-self: self-end;
    font-size: 1.3em;
    font-family: 'Candara';
    font-weight: bold;
    color:rgb(75, 56, 56);
    border: none;
    border-radius: 4px;
    margin-bottom: 0px;
}

.compare-details ul {
    text-align: left; 
    width: 100%;
    padding: 0;
    list-style: none;
}

.compare h3 {
    align-self: center;
    font-size: 1.3em;
    font-weight: bold;
    color:rgb(44, 167, 10);
    border-radius: 4px;
    margin-top: 10px;  
}
.compare h5 {
    align-self: center; 
    color:rgb(6, 122, 239);
    border-radius: 4px;
    margin-top: 10px;
}

.compare button {
    align-self: center; 
    margin-top: auto; 
    background-color: #007bff;
    color: white;
    padding: 10px 44px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0%;
}

.custom-alert {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}



.custom-alert {
    z-index: 1000; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-alert-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #007BFF;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5); 
}


.custom-alert-message {
    font-family: 'candara';
    font-size: 1.3em;
    color: rgb(56, 51, 51);
    font-weight: bolder;
}

#redirectMessage {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7em;
    font-weight: bold;
    color: red;
}

.custom-alert button {
    background-color: #007BFF; 
    color: white; 
    padding: 10px 20px; 
    margin: 15px 0; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 16px; 
    margin-top: 25px;
}

.custom-alert button:hover {
    background-color: #00a727; /* Darker shade of green when hovered */
}
