body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 120px;
}

input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 5px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

#dashboard {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

#selected-store {
    margin: 20px 0;
    font-weight: bold;
}

#actions {
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 10px;
}
